html 
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Submit flag
    link(href='https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet')
    link(href='/tailwind.css' rel='stylesheet')
  body.flex.items-center.justify-center.flex-col.h-screen.prose.font-press-start.max-w-full.mx-20
    h1.text-primary Submit a new flag

    if errors 
      each error in errors 
        div.alert.alert-error.max-w-2xl.mt-4= error

    form(method='POST' action='').flex.flex-col.row-span-6
      label.mt-6 Username:
      input(type='text', placeholder='Username' name='username').h-8.px-1.text-neutral

      label.mt-6 Challenge:
      select(name='challenge').h-8.text-neutral
        each challenge in challenges
          option= challenge.name

      label.mt-6 Flag:
      input(type='text' placeholder='Flag' name='flag').h-8.px-1.text-neutral

      button(type='submit').btn.btn-primary.mt-10 Submit